.page-footer{
	background: #fff;
	padding: 50px 0 20px;
	font-size: 13px;
	border-top: 1px solid #f3efe7;
}

.page-footer__warning{
	color: #8f8f8f;
}

.socials{
	margin-bottom: 55px;
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}
.socials__item{
	float: left;
	margin-right: 21px;
	width: 26px;
	height: 26px;
	line-height: 23px;
	text-align: center;;
	vertical-align: middle;
	border-radius: 50%;
	transition:all 0.3s ease;
	position: relative;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		opacity: 0.7;
		&:after{
			opacity: 1;
			transform: scale(1);
		}
	}
	i{
		display: inline-block;
		vertical-align: middle;
	}
	&:after{
		position: absolute;
	    width: 32px;
	    height: 32px;
	    border-radius: 50%;
	    content: '';
		top: -3px;
		left: -3px;
		padding: 7px;
		// box-shadow: 0 0 0 2px red;
		opacity: 0;
		transition:all 0.3s ease;
		transform: scale(0.8);
	}
}

.socials__item--fb{
	background: #3a5897;
	i{
		width: 8px;
		height: 14px;
		background: url(../img/svg/fb.svg) center no-repeat;
		background-size: contain;
	}
	&:after{
		box-shadow: 0 0 0 2px #3a5897;
	}
}
.socials__item--inst{
	background: rgb(222, 67, 152);
	background: linear-gradient(202deg, rgb(222, 67, 152) 0%, rgb(250, 100, 76) 100%); 
	i{
		width: 16px;
		height: 16px;
		background: url(../img/svg/inst.svg) center no-repeat;
		background-size: contain;
	}
	&:after{
		box-shadow: 0 0 0 2px #de4398;
	}
}
.socials__item--vk{
	background: #4d76a0; 
	i{
		width: 17px;
		height: 10px;
		background: url(../img/svg/vk.svg) center no-repeat;
		background-size: contain;
		margin-left: -2px;
	}
	&:after{
		box-shadow: 0 0 0 2px #4d76a0;
	}
}
.bottom-logo{
	width: 150px;
	height: 50px;
	display: block;
	background: url(../img/content/bottom-logo.png) center no-repeat;
}
.copyright{
	margin-top: 20px;
	margin-bottom: 22px;
	color: #8f8f8f;
}
.copyright__item{
	margin-bottom: 2px;
}
.page-footer-menu__item{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}
.page-footer-menu__title{
	color: #000;
	font-size: 16px;
	margin-bottom: 23px;
}
.page-footer-menu__link{
	display: block;
	margin-bottom: 10px;
	&:last-child{
		margin-bottom: 0;
	}
}

.page-footer-contacts__item{
	margin-bottom: 15px;
	color: #8f8f8f;
	padding-left: 20px;
	position: relative;
	&:last-child{
		margin-bottom: 0;
	}
}
.page-footer-contacts__item--phone{
	font-size: 16px;
	color: #000;
	a{
		color: #000;
	}

	&:before{
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -6px;
		background: url(../img/content/call.png) center no-repeat;
	}
}

.page-footer-contacts__item--time{
	&:before{
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -6px;
		background: url(../img/content/time.png) center no-repeat;
	}
}

.page-footer-contacts__item--address{
	&:before{
		content: "";
		width: 10px;
		height: 13px;
		position: absolute;
		left: 0;
		top: 2px;
		background: url(../img/content/place.png) center no-repeat;
	}
}