.page-header{
	background: #fff;
	padding: 38px 0 22px;
}

.top-logo{
	float: left;
	display: block;
	text-decoration: none;
	width: 151px;
	height: 51px;
	background: url(../img/content/top-logo.png) no-repeat;
}
