
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1400px){

}

@media screen and (max-width: 1320px){
	.container-fluid{
		padding: 0 20px;
		    max-width: inherit;
	}
	body{
		overflow-x: hidden;
	}
}

@media screen and (max-width: 1200px){
	.dream-group {
	    margin-right: 20px;
	}
	.top-info {
	    padding-left: 20px;
	    margin-right: 0;
	}
	.top-info__phone {
	    margin-right: 20px;
	}
}

@media screen and (max-width: 1100px){
	.top-nav {
	    float: none;
	    clear: both;
	    padding-top: 15px;
	}
	.top-nav__item{
		&:first-child{
			margin-left: -10px;
		}
	}
	.top-info {
	   float: right;
	}
}

@media screen and (max-width: 1000px){
	.page-header__links a {
	    margin-right: 10px;
	}
}

@media screen and (max-width: 900px){
	.page-header__links a {
	    text-indent: -9999em;
	    padding-left: 32px;
	}
	.page-header__search {
	    padding-right: 20px;
	}
}

@media screen and (max-width: 768px){
	.workarea{
		table{

		}
		tr,td{
			display: block;
		}
		th{
			display: none;
		}
		td{
			text-align: right;
			&:before{
				content: attr(data-label);
				float: left;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
    .socials {
	    margin-bottom: 0;
	    float: right;
	    overflow: visible;
	    &:after{
	    	content: "";
	    	display: table;
	    	clear: both;
	    }
	}
	.socials__item{
		margin-right: 15px;
	}
	.bottom-logo{
		float: left;
	}
	.page-footer-socials{
		margin-bottom: 20px;
		&:after{
	    	content: "";
	    	display: table;
	    	clear: both;
	    }
	}
	.page-footer {
	    padding: 20px 0;
	}
	.page-footer__warning{
		display: none;
	}
	.copyright {
	    margin-bottom: 0;
	}
	.page-footer-menu{
		margin-bottom: 20px;
	}
	.page-footer-menu__item{
		 padding-right: 0;
	    &:last-child{
	    	padding-left: 20px;
	    }
	}
	.top-nav,
	.page-header__search,
	.btn-catalog{
		display: none;
	}
	.mobile-menu{
		display: block;
	}
	.page-header__bottom{
		border-bottom: 1px solid #f3efe7;
		border-top: 1px solid #f3efe7;
		margin: 0 -20px;
		padding-right: 20px;
		    position: relative;
		&:after{
			content: "";
			display: table;
			clear: both;
		}
	}
	.page-header{
		padding: 20px 0 15px;
	}
	.page-header__links {
	    padding-top: 11px;
	}
	.mobile-search{
		display: inline-block;
	}
}

@media screen and (max-width: 700px){
	.top-info__phone,
	.top-info .btn-cart{
		display: none;
	}
}

@media screen and (max-width: 550px){
	.cabinet__item{
		width: 100%;
	}
}