
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1400px){

}

@media screen and (max-width: 1320px){
	.container-fluid{
		padding: 0 20px;
	}
	body{
		overflow-x: hidden;
	}
}

@media screen and (max-width: 768px){
	.workarea{
		table{

		}
		tr,td{
			display: block;
		}
		th{
			display: none;
		}
		td{
			text-align: right;
			&:before{
				content: attr(data-label);
				float: left;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}


@media screen and (max-width: 550px){
	.cabinet__item{
		width: 100%;
	}
}