.mfp-zoom-out {

	/* start state */
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.3s ease-in-out; 
		transform: scale(1.3); 
	}

	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}

	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1); 
		}
		&.mfp-bg {
		 	opacity: 0.8;
		}
	}
}

.mfp-close{
	padding: 0;
	width: 18px;
    height: 18px;
    line-height: 18px;
    right: 20px;
    top: 20px;
}

button.mfp-close{
    width: 18px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: 0!important;
    text-decoration: none;
    text-align: center;
    opacity: 1;
    padding: 0!important;
    font-size: inherit;
    font-family: inherit;
    background: url(../img/svg/close.svg) no-repeat;
    text-indent: -9999em;
    transition:all 0.3s ease;
    &:hover{
    	opacity: 0.7;
    	transform: scale(1.5);
    }
    &:active{
    	top: 0!important;
    }
}



.popup-inline{
	position: relative;
	background: #f3efe7;
	padding: 40px;
	width: auto;
	max-width: 580px;
	margin: 20px auto;
	border-radius: 5px;
	box-shadow:         0px 10px 18px 0px rgba(0, 0, 0, 0.3);
	textarea{
		width: 100%;
		border: 1px solid #e5e2db;
		border-radius: 3px;
		background: #fff;
		padding: 10px 15px;
		height: 115px;
		resize:vertical;
	}

	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"]{
		width: 100%;
		border: 1px solid #e5e2db;
		border-radius: 3px;
		background: #fff;
		    padding: 8px 15px 12px 15px;
	}
	input[type="submit"]{
		background: #ffc107;
		padding: 9px 40px;
		display: inline-block;
		border-radius: 20px;
		font-size: 16px;
		transition:all 0.3s ease;
		border: 0;
		&:hover{
			background: #feca30; 
		}
		&:active{
			background: #e7af08;
		}
	}
}

.popup-inline__title{
	text-align: center;
	h2{

	}
}

.mfp-iframe-holder .mfp-close {
    text-indent: 100%;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    right: 0;
    width: 18px;
}

.mfp-close:active {
    top: -40px;
}

.mfp-iframe-scaler .mfp-close:active{
	top: -40px!important;
}

#footer-map {
  width: 900px;
  height: 500px;
  margin: 0 auto;
  border-radius: 5px;
}


.popup-inline{
	button.mfp-close{
		right: 20px;
    	top: 20px !important;
	}
	
}

.popup-map{
	position: relative;
	background: #f3efe7;
	padding: 0;
	width: auto;
	max-width: 900px;
	margin: 20px auto;
	border-radius: 5px;
	box-shadow:         0px 10px 18px 0px rgba(0, 0, 0, 0.3);

	button.mfp-close{
		right: -40px;
	}
}